<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NanoSurvey</title>

    <script href="~js/ajax.js" type="text/javascript" asp-append-version="true"></script>
    <script href="~js/app.js" type="text/javascript" asp-append-version="true"></script>
    <link rel="stylesheet" href="~css/style.css" asp-append-version="true"/>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
