<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/ajax.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/app.js" type="text/javascript" asp-append-version="true"></script>
</head>
<body>
    <div class="container">
        <div class="box">
            @RenderBody()
        </div>
    </div>
</body>
</html>
